#toolset {
    width     : 100px;
    height    : 440px;
    position  : absolute;
    left      : 180px;
    top       : 56px; 
    background: #333;
}

#paint {
    position  : absolute;
    left      : 300px;
    top       : 56px;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
	border-radius: 10px;
	border: 6px solid #333;
}

#colorset {
    position  : absolute;
    left      : 175px;
    top       : 525px;
    width     : 860px;
    background: #cdfcff;
}

.toolsetindicator {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;

}

.sidepanel {
  height: 250px; /* Specify a height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 150px;
  left: 0px;
  background-color: #333; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}

/* The sidepanel links */
.sidepanel a {
  padding: 8px 8px 8px 50px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: black;
  color: white;
  padding: 10px 15px;
  position : absolute;
  top:80px;
  left:0;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #242f3f;
  display:flex;
  justify-content: center;
  align-items: center;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
}

.input-paint{
    box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid #C2C2C2;
	box-shadow: 1px 1px 4px #EBEBEB;
	-moz-box-shadow: 1px 1px 4px #EBEBEB;
	-webkit-box-shadow: 1px 1px 4px #EBEBEB;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 7px;
    position : relative;
    top: 0px;
	outline: none;
}

.button-paint {
    position: relative;
    top: 0px;
    left:5px;
    border: none;
	padding: 8px 15px 8px 15px;
	background: #838583;
	color: #fff;
	box-shadow: 1px 1px 4px #DADADA;
	-moz-box-shadow: 1px 1px 4px #DADADA;
	-webkit-box-shadow: 1px 1px 4px #DADADA;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

.button-paint:hover{
    background: #ddd;
	color: black;
}

.button-paint:active {
    background-color: rgb(181, 202, 182);
    color: white;
}

.label-paint {
    font-family: Arial, Helvetica, sans-serif;
}

.showcoordinate{
    display:none;
    position:relative;
    left:440px;
    top:0;
    z-index: 1;
}
 
#title {
    position  : absolute;
    left      : 500px;
}

#penciltool {
    background: #838583; 
    color     : #f3f3f3;
    width     : 80px;
    height    : 25px;
    border    : 1px solid #838583;
    -webkit-border-radius: 0 15px 15px 0;
    -moz-border-radius: 0 15px 15px 0;
    box-shadow: rgba(0, 0, 0, .75) 0 2px 6px;
}

#penciltool:hover {
    background-color: #ddd;
    color: black;
}

#penciltool:active {
    background-color: rgb(181, 202, 182);
    color: white;
}

#linetool {
    background: #358128; 
    color     : #f3f3f3;
    width     : 80px;
    height    : 25px;
    border    : 1px solid #33842a;
    -webkit-border-radius: 0 15px 15px 0;
    -moz-border-radius: 0 15px 15px 0;
    box-shadow: rgba(0, 0, 0, .75) 0 2px 6px;
}

#rectangletool {
    background: #838583; 
    color     : #f3f3f3;
    width     : 80px;
    height    : 25px;
    border    : 1px solid #838583;
    -webkit-border-radius: 0 15px 15px 0;
    -moz-border-radius: 0 15px 15px 0;
    box-shadow: rgba(0, 0, 0, .75) 0 2px 6px;
}

#rectangletool:hover {
    background-color: #ddd;
    color: black;
}

#rectangletool:active {
    background-color: rgb(181, 202, 182);
    color: white;
}

#circletool {
    background: #358128; 
    color     : #f3f3f3;
    width     : 80px;
    height    : 25px;
    border    : 1px solid #33842a;
    -webkit-border-radius: 0 15px 15px 0;
    -moz-border-radius: 0 15px 15px 0;
    box-shadow: rgba(0, 0, 0, .75) 0 2px 6px;
}

#erasertool {
    background: #358128; 
    color     : #f3f3f3;
    width     : 80px;
    height    : 25px;
    border    : 1px solid #33842a;
    -webkit-border-radius: 0 15px 15px 0;
    -moz-border-radius: 0 15px 15px 0;
    box-shadow: rgba(0, 0, 0, .75) 0 2px 6px;
}

#resettool {
    background: #838583; 
    color     : #f3f3f3;
    width     : 80px;
    height    : 25px;
    border    : 1px solid #838583;
    -webkit-border-radius: 0 15px 15px 0;
    -moz-border-radius: 0 15px 15px 0;
    box-shadow: rgba(0, 0, 0, .75) 0 2px 6px;
}           

#resettool:hover {
    background-color: #ddd;
    color: black;
}

#resettool:active {
    background-color: rgb(181, 202, 182);
    color: white;
}
#pixel_plus {
    background: #838583; 
    color     : #f3f3f3;
    width     : 80px;
    height    : 25px;
    border    : 1px solid #838583;
    -webkit-border-radius: 0 15px 15px 0;
    -moz-border-radius: 0 15px 15px 0;
    box-shadow: rgba(0, 0, 0, .75) 0 2px 6px;
}   
#pixel_minus {
    background: #838583; 
    color     : #f3f3f3;
    width     : 80px;
    height    : 25px;
    border    : 1px solid #838583;
    -webkit-border-radius: 0 15px 15px 0;
    -moz-border-radius: 0 15px 15px 0;
    box-shadow: rgba(0, 0, 0, .75) 0 2px 6px;
}   

#pixel_plus:hover {
    background-color: #ddd;
    color: black;
}

#pixel_plus:active {
    background-color: rgb(181, 202, 182);
    color: white;
}

#pixel_minus:hover {
    background-color: #ddd;
    color: black;
}

#pixel_minus:active {
    background-color: rgb(181, 202, 182);
    color: white;
}

#fill {
    background: #358128; 
    color     : #f3f3f3;
    width     : 80px;
    height    : 25px;
    border    : 1px solid #33842a;
    -webkit-border-radius: 0 15px 15px 0;
    -moz-border-radius: 0 15px 15px 0;
    box-shadow: rgba(0, 0, 0, .75) 0 2px 6px;
}   

#outline {
    background: #358128; 
    color     : #f3f3f3;
    width     : 80px;
    height    : 25px;
    border    : 1px solid #33842a;
    -webkit-border-radius: 0 15px 15px 0;
    -moz-border-radius: 0 15px 15px 0;
    box-shadow: rgba(0, 0, 0, .75) 0 2px 6px;
}   

#color {
    background: #358128; 
    color     : #f3f3f3;
    width     : 80px;
    height    : 25px;
    border    : 1px solid #33842a;
    -webkit-border-radius: 0 15px 15px 0;
    -moz-border-radius: 0 15px 15px 0;
    box-shadow: rgba(0, 0, 0, .75) 0 2px 6px;
}   

#savebtn {
    background: #358128; 
    color     : #f3f3f3;
    width     : 80px;
    height    : 25px;
    border    : 1px solid #33842a;
    -webkit-border-radius: 0 15px 15px 0;
    -moz-border-radius: 0 15px 15px 0;
    box-shadow: rgba(0, 0, 0, .75) 0 2px 6px;
}   
