#toolset {
    width     : 100px;
    height    : 440px;
    position  : absolute;
    left      : 6px;
    top       : 56px; 
    background: #333;
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #242f3f;
  display:flex;
  justify-content: center;
  align-items: center;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
}

#paint {
    position  : absolute;
    left      : 130px;
    top       : 56px;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
	border-radius: 10px;
	border: 6px solid #333;
    background: #FAFAFA;
}

#colorset {
    position  : absolute;
    left      : 0px;
    top       : 525px;
    width     : 860px;
    background: powderblue;
}
 
#title {
    position  : absolute;
    left      : 500px;
}

#penciltool {
    background: #838583; 
    color     : #f3f3f3;
    width     : 80px;
    height    : 25px;
    border    : 1px solid #838583;
    -webkit-border-radius: 0 15px 15px 0;
    -moz-border-radius: 0 15px 15px 0;
    box-shadow: rgba(0, 0, 0, .75) 0 2px 6px;
}

#penciltool:hover {
    background-color: #ddd;
    color: black;
}

#penciltool:active {
    background-color: rgb(181, 202, 182);
    color: white;
}

#linetool {
    background: #358128; 
    color     : #f3f3f3;
    width     : 80px;
    height    : 25px;
    border    : 1px solid #33842a;
    -webkit-border-radius: 0 15px 15px 0;
    -moz-border-radius: 0 15px 15px 0;
    box-shadow: rgba(0, 0, 0, .75) 0 2px 6px;
}

#rectangletool {
    background: #838583; 
    color     : #f3f3f3;
    width     : 80px;
    height    : 25px;
    border    : 1px solid #838583;
    -webkit-border-radius: 0 15px 15px 0;
    -moz-border-radius: 0 15px 15px 0;
    box-shadow: rgba(0, 0, 0, .75) 0 2px 6px;
}

#rectangletool:hover {
    background-color: #ddd;
    color: black;
}

#rectangletool:active {
    background-color: rgb(181, 202, 182);
    color: white;
}

#circletool {
    background: #358128; 
    color     : #f3f3f3;
    width     : 80px;
    height    : 25px;
    border    : 1px solid #33842a;
    -webkit-border-radius: 0 15px 15px 0;
    -moz-border-radius: 0 15px 15px 0;
    box-shadow: rgba(0, 0, 0, .75) 0 2px 6px;
}

#erasertool {
    background: #358128; 
    color     : #f3f3f3;
    width     : 80px;
    height    : 25px;
    border    : 1px solid #33842a;
    -webkit-border-radius: 0 15px 15px 0;
    -moz-border-radius: 0 15px 15px 0;
    box-shadow: rgba(0, 0, 0, .75) 0 2px 6px;
}

#resettool {
    background: #838583; 
    color     : #f3f3f3;
    width     : 80px;
    height    : 25px;
    border    : 1px solid #838583;
    -webkit-border-radius: 0 15px 15px 0;
    -moz-border-radius: 0 15px 15px 0;
    box-shadow: rgba(0, 0, 0, .75) 0 2px 6px;
}           

#resettool:hover {
    background-color: #ddd;
    color: black;
}

#resettool:active {
    background-color: rgb(181, 202, 182);
    color: white;
}
#pixel_plus {
    background: #838583; 
    color     : #f3f3f3;
    width     : 80px;
    height    : 25px;
    border    : 1px solid #838583;
    -webkit-border-radius: 0 15px 15px 0;
    -moz-border-radius: 0 15px 15px 0;
    box-shadow: rgba(0, 0, 0, .75) 0 2px 6px;
}   
#pixel_minus {
    background: #838583; 
    color     : #f3f3f3;
    width     : 80px;
    height    : 25px;
    border    : 1px solid #838583;
    -webkit-border-radius: 0 15px 15px 0;
    -moz-border-radius: 0 15px 15px 0;
    box-shadow: rgba(0, 0, 0, .75) 0 2px 6px;
}   

#pixel_plus:hover {
    background-color: #ddd;
    color: black;
}

#pixel_plus:active {
    background-color: rgb(181, 202, 182);
    color: white;
}

#pixel_minus:hover {
    background-color: #ddd;
    color: black;
}

#pixel_minus:active {
    background-color: rgb(181, 202, 182);
    color: white;
}

#fill {
    background: #358128; 
    color     : #f3f3f3;
    width     : 80px;
    height    : 25px;
    border    : 1px solid #33842a;
    -webkit-border-radius: 0 15px 15px 0;
    -moz-border-radius: 0 15px 15px 0;
    box-shadow: rgba(0, 0, 0, .75) 0 2px 6px;
}   

#outline {
    background: #358128; 
    color     : #f3f3f3;
    width     : 80px;
    height    : 25px;
    border    : 1px solid #33842a;
    -webkit-border-radius: 0 15px 15px 0;
    -moz-border-radius: 0 15px 15px 0;
    box-shadow: rgba(0, 0, 0, .75) 0 2px 6px;
}   

#color {
    background: #358128; 
    color     : #f3f3f3;
    width     : 80px;
    height    : 25px;
    border    : 1px solid #33842a;
    -webkit-border-radius: 0 15px 15px 0;
    -moz-border-radius: 0 15px 15px 0;
    box-shadow: rgba(0, 0, 0, .75) 0 2px 6px;
}   

#savebtn {
    background: #358128; 
    color     : #f3f3f3;
    width     : 80px;
    height    : 25px;
    border    : 1px solid #33842a;
    -webkit-border-radius: 0 15px 15px 0;
    -moz-border-radius: 0 15px 15px 0;
    box-shadow: rgba(0, 0, 0, .75) 0 2px 6px;
}   
