{% extends "base-bootstrap.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="animate-bottom">
		<div class="mx-auto w-50">
			<div class="border border-dark shadow-lg p-4 bg-white rounded mt-5">
				<h4 class="text-center">Please insert canvas size to use : </h4>
				{% with messages = get_flashed_messages() %}
				{% if messages %}
				<div class="alert alert-danger alert-dismissible fade show" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					{{ messages[0] }}
				</div>
				{% endif %}
				{% endwith %}
				<form method="POST" action="/resize">
					<div class="form-group">
						<label for="canvas-width">Canvas Width :</label>
						<input class="form-control" name="canvas-width" type="text" placeholder="Canvas Width">
					</div>
					<div class="form-group">
						<label for="canvas-height">Canvas Height :</label>
						<input class="form-control" name="canvas-height" type="text" placeholder="Canvas Height">
					</div>
					<div class="text-center"><button class="btn btn-secondary">Generate Canvas</button>
					</div>
				</form>
			</div>
		</div>
	</div>

</body>

</html>
{% endblock %}