{% extends "base-bootstrap.html" %}

{% block content %}
  <h1 class="home-title">
    Welcome to AI Data Modelling Application.
  </h1>
  {% if not current_user.is_authenticated %}
  <h2 class="home-title">
    Please Login to continue!
  </h2>
{% endif %}
{% if current_user.is_authenticated %}
<h2 class="home-title">
  Hello, {{ name }} !!
</h2>
<div class="animate-bottom">
  <div class="column is-4 is-offset-4" style="top:500px">
    <h2 class="subtitle">Total Images Loaded :</h2>
    <h1>
      <p id="countimage" style="text-align: center;font-size:45px"></p>
    </h1>
    {% for imagezz in imagelist %}

    <li class="idli" style="display:none">{{imagezz}}</li>
    {% endfor %}
  </div>
</div>

<script src="http://code.jquery.com/jquery-1.8.3.js"></script>
<script>
  var counter = 0;
  $(document).ready(function () {
    $(".idli").each(function (index, element) {
      //alert(index + " : " + $(element).text());
      //testis += $(element).text();
      ++counter;
    });
    document.getElementById("countimage").innerHTML = counter;
  });
</script>
{% endif %}
{% endblock %}