{% extends "base-bootstrap.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div class="text-center mt-5">
    <h3>
      Welcome to AI Data Modelling Application.
    </h3>
    {% if not current_user.is_authenticated %}
    <h3>
      Please Login to continue!
    </h3>
    {% endif %}

    {% if current_user.is_authenticated %}
    <h3>
      Hello, <font color="red">{{ name }}</font> !!
    </h3>
    <div class="animate-bottom">
      <div class="mx-auto w-25">
        <div class="border border-dark shadow-lg p-4 bg-white rounded mt-5">
          <h4>Total Images Loaded :</h4>
          <h1>
            <p id="countimage"></p>
          </h1>
          {% for imagezz in imagelist %}

          <li class="idli" style="display:none">{{imagezz}}</li>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  </div>
{% endif %}
</body>

</html>

<script>
  var counter = 0;
  $(document).ready(function () {
    $(".idli").each(function (index, element) {
      //alert(index + " : " + $(element).text());
      //testis += $(element).text();
      ++counter;
    });
    document.getElementById("countimage").innerHTML = counter;
  });
</script>
{% endblock %}