{% extends "base.html" %}

{% block content %}
<!-- <section class="row">
<h1 class="home-title">COMING SOON</h1>
  {% for image in images %}
    <section class="col-md-4 col-sm-6" style="background-color: green;">
      <a href="{{ url_for('static', filename='images/' + image) }}">{{ image }}</a>
    </section>
  {% endfor %}
</section> -->
<canvas id="paint2" width=750 height=450 style="border: 5px solid #000000"></canvas>
<button type="button" onclick="testcall()" >Load Images</button>
<button type="button" onclick="workingnextimage()" style="width: 40px;">Next</button>
<!-- <img id="imagelist" src="static/images/test.jpg" alt="test.jpg"> -->
<div hidden id="listimages">

</div>

<ul style="display:none">
	{% for imagezz in imagelist %}
	<img hidden id="imagelist" src="static/{{imagezz}}" alt="{{imagezz}}">
	<!-- <label id="imagename">{{imagezz}}</label> -->
	<!-- <input id="inputname" class="inpuclass" type="text" value="{{imagezz}}"></input> -->
	<li>{{imagezz}}</li>
	{% endfor %}
</ul>

<script src="http://code.jquery.com/jquery-1.8.3.js"></script>
<script type="text/javascript">
	var canvas = document.getElementById("paint2");
	var ctx = canvas.getContext("2d");
	var count = 0;
	var filename;
	var testis = "";
	var testisarray = [];
	var realimagewidth,realimageheight;
	$(document).ready(function () {
		$('li').each(function (index, element) {
			//alert(index + " : " + $(element).text());
			//testis += $(element).text();
			testisarray.push($(element).text());
		});
	});

	function nextimage() {
		// var i;

		++count;
		// for(i = 0;i<5;i++){
		var html;
		// for (var i = 0; i < count; i++) {
		// 	html = "<img src="
		// }
		var test = "{{imagelist}}";
		var test2 = test.replace("&#39;", "");
		var imagz2 = document.getElementById("imagename").value;
		var imagz = document.getElementById("imagelist");
		var inputvalue = document.getElementById("inputname").value;


		imagz.src = "static/images/test.jpg";
		ctx2.drawImage(imagz, 0, 0);
		// }
		document.getElementById("testlabel").innerHTML = inputvalue;
	}

	function workingnextimage() {
		++count;

		for (var i = 0; i < count; i++) {
			var imagetest = document.getElementById('image' + i);
			ctx.drawImage(imagetest, 0, 0, canvas.width, canvas.height);
			realimagewidth = imagetest.width;
			realimageheight = imagetest.height;
			
		}

		alert("Current Image Width/Height : "+ realimagewidth +" / "+ realimageheight);
		// alert(testambildalamdiv);
	}

	function testcall() {
		var html = "";
		for (var i = 0; i < testisarray.length; i++) {
			
			html += "<img id='image"+ i  +"' src='static/" + testisarray[i] + "'>";

		}
		document.getElementById("listimages").innerHTML = html;
		alert("Succesfully Loaded Images!");
	}
	//Comments

	// $(".inputclass").each((key, element) => {
		// let value = $(element).val();

		// });
	//function ajaxx() {
	// 	$.ajax({
	// 		//This will retrieve the contents of the folder if the folder is configured as 'browsable'
	// 		url: dir,
	// 		success: function (data) {
	// 			//List all .png file names in the page
	// 			$(data).find("a:contains(" + fileextension + ")").each(function () {
	// 				filename = this.href.replace(window.location.host, "").replace("http://", "");
	// 				$("body").append("<img src='" + dir + filename + "'>");
	// 			});
	// 		}
	// 	});
	// }

</script>
{% endblock %}