{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_paint.css') }}">

<body onload="reset()">
        <!-- <p><h2 id="title">Welcome, {{ name }} to AI Training Application</h2></p> -->
        <p>
                <div class="loader-wrapper">
                        <span class="loader"><span class="loader-inner"></span></span>
                </div>
                <div id="mySidepanel" class="sidepanel">
                        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                        <div class="label-paint">
                                <label style="color:white">Add Label
                                </label><br><input id="labelname" class="input-paint" type="text"><button id="save"
                                        class="button-paint" onclick='addlabel()'>Add</button>
                                <br>
                                <br>

                                <div id="labellist">


                                        <!-- <label id="listvalue"> </label><button
                                                                        style="background-color: red; height: 20px; width: 20px;"></button> -->
                                </div>
                        </div>
                </div>

                <button class="openbtn" onmouseover="openNav()">&#9776; Label List</button>
                <table>
                        <tr>
                                <td>
                                        <fieldset id="toolset">
                                                <img style="display:none" id="imagetest" src="static/images/test.jpg"
                                                        alt="Test Image">
                                                <img style="display:none" id="imagetest2" src="static/images/test2.jpg"
                                                        alt="Test Image 2">
                                                <div class="toolsetindicator">
                                                        <font color="white">Canvas Width <font color="red">{{cnvswidth}}
                                                                </font>
                                                        </font>
                                                        <br>
                                                        <br>
                                                        <font color="white">Canvas Height <font color="red">
                                                                        {{cnvsheight}}
                                                                </font>
                                                        </font>
                                                        <br>
                                                        <br>
                                                        <font color="white">Line Width
                                                                <font color="red" id="currentlw"> 3 </font>
                                                        </font>
                                                        <br>
                                                        <br>
                                                        <font color="white">Image
                                                                <font color="red" id="imagenumber"></font>
                                                                <label>/</label>
                                                                <font color="red" id="totalimagenumber"></font>
                                                        </font>
                                                </div>
                                                <br>
                                                <br>
                                                <br>
                                                <br>
                                                <br>
                                                <br>
                                                <br>
                                                <br>                                              
                                                <button id="penciltool" type="button"
                                                        style="height: 25px; width: 100px;"
                                                        onclick="pencil()">Dot</button>
                                                <br>
                                                <br>
                                                <button id="rectangletool" type="button"
                                                        style="height: 25px; width: 100px;"
                                                        onclick="rectangle()">Rectangle</button>
                                                <br>
                                                <br>
                                                <button id="resettool" type="button" style="height: 25px; width: 100px;"
                                                        onclick="reset()">Reset</button>
                                        </fieldset>
                                </td>
                                <td>
                                        <canvas id="paint" width={{cnvswidth}} height={{cnvsheight}}></canvas>
                                </td>
                                <td>


                                        <div style="position:absolute;left: 900px ;top:80px">

                                        </div>

                                </td>
                        </tr>
                </table>
        </p>
        <ul style="display:none">
                {% for imagezz in imagelist %}
                <li class="imageclass">{{imagezz}}</li>
                {% endfor %}
        </ul>
        <div hidden id="listimages">

        </div>
        <fieldset id="colorset">
                <table>
                        <tr>
                                <div id="colortoolset">

                                </div>
                        </tr>
                        <tr>
                                <td><label class="label-paint">Line Width</label></td>
                                <td><button id="pixel_plus" type="button" onclick="add_pixel()"
                                                style="width: 25px;">+</button></td>
                                <td><button id="pixel_minus" type="button" onclick="reduce_pixel()"
                                                style="width: 25px;">-</button></td>
                                <td><button id="nextbtn" class="button-paint" type="button"
                                                onclick="nextimage()">Next</button></td>
                                <!-- <td><button id="loadimagebtn" class="button-paint" type="button"
                                                onclick="loadimage()">Load Image</button></td> -->
                                <td><label style="display:none;font-family: Arial, Helvetica, sans-serif;position:relative;left:10px"
                                        id="currentlabel2">Currently Labeling</label> <label id="currentlabel"
                                        style="display:none;font-family: Arial, Helvetica, sans-serif;position:relative;left:10px"></label></td>
                                <td>
                                        <div id="showcoordinate" class="showcoordinate">
                                                <div class="label-paint">
                                                        <label>Coordinates : (</label>
                                                        <label id="coordinatex" style="color:red">x</label>
                                                        <label>,</label>
                                                        <label id="coordinatey" style="color:red">y</label>
                                                        <label>)</label>
                                                </div>
                                        </div>
                                </td>
                        </tr>
                </table>
                <!-- <label class="label-paint">File Name</label><input id="fname" type="text"><button class="button-paint"
                        id="save" onclick="save()">Save</button> -->
                <label class="label-paint">Total Annotations Recorded : </label><font class="label-paint" id="recordannotation" color="red" ></font>

        </fieldset>
        <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
        <script src=" {{ url_for('static', filename='script.js') }}"></script>
        {% endblock %}